/* DOCUMENT INFORMATION 

    - Document: Projet B 
    - Version: 0.5
    - Author: DuTss
*/

/*  COLORS 

    - h1
    - h2 
    - button
    - border

*/

/* FONTS

    - 
    - 

*/ 

/* CSS DIRECTORY 

    - GLOBAL
    - HEADER

*/


/* GLOBAL
=============================================================*/

html {
    background-color: #fff;
}



/* HEADER
=============================================================*/

.navbar button {
    background-color: rgb(230, 154, 55);
    border: black solid 2px;
    border-radius: 10px;
}

.home-title2 {
    text-align: center;
}

.menu {
    text-align: center;
}
